.success-section {
  padding: 10%;
}

.success-section h3 {
  font-size: 31px;
  font-family: "oswald", sans-serif;
  color: var(--black-color);
  font-weight: 400;
  text-align: center;
}
.success-container {
  width: 50%;
  margin: auto;
}

.success-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.success-details h5 {
  font-family: "mulish", sans-serif;
  font-size: 14px;
}
.success-container h4 {
  font-size: 31px;
  font-family: "oswald", sans-serif;
  color: var(--primary-color);
  font-weight: 400;
  text-align: center;
}
