.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 160px;
  height: 46px;
  font-family: "oswald", sans-serif;
  font-size: 22px;
  line-height: 45.94px;
  color: var(--primary-color);
  margin-top: 10px;
}

.search-box {
  width: 400px;
  height: 46px;
  font-size: 22px;
  margin-top: 0.8rem;
  color: var(--primary-color);
  font-family: "oswald", sans-serif;
}

.search-icon {
  padding: 9px;
  font-size: 22px;
  color: var(--primary-color);
  margin-top: 1rem;
  background: var(--white-color);
  border: none;
}
