.container {
  width: var(--container-width-lg);
  margin: auto;
}

.nav-container {
  width: 100%;
  background: var(--primary-color);
}

.nav {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  text-decoration: underline;
}
